
.game-board{
    display: grid;
    min-height: 299px;
    min-width: 299px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin: 50px;
    font-size: 4rem;
    gap: 2px;
    background-color: #999999;
}
.game-board > div{
    width: 100%;
    height: 100%;
    background-color: #222222;
}
.form-area{
    margin-top: 30px;
    margin-left: 30px; 
}
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
}
dialog[open]{
    font-size: 4rem;
    width: 350px;
    display: grid;
    justify-content: center;
    color: white;
    /* position: relative;
    top: 0; */
    background-color: rgba(50, 50, 50, 0.8);
    backdrop-filter: blur(10px);
    border: none;
}
dialog[open] button{
    grid-row: 2/3;
    padding: 20px;
    border-radius: 3px;
    font-size: 2rem;
    color: white;
    font-weight: 800;
    background-color: rgb(255, 140, 140);
    transition: .5s ease-in-out;
}
dialog[open] button:hover{
    background-color: rgb(255, 86, 86);
}
dialog[open] button:active{
    background-color: rgb(255, 206, 206);
}

body > h1{
    text-align: center;
    margin-top: 30px;
    font-size: 69px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222222;
    color: white;
    margin-top: 5%;
}

h1 {
    font-size: 50px;
}

.form-board-area{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
}
.error-msg{
    color: red;
    text-align: center;
    font-weight: 600;
}
form > *{
    padding: 5px;
    margin: 10px;
    color: #999999;
    background-color: #222222;
    font-size: 14px;
}

input {
    color: #cccccc;
    font-size: 20px;
    border-right: 20px white;
}

.game-board-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.next-player-msg{
    font-size: 1.3em;
    text-align: center;
    color: #cccccc;
}

@media only screen and (max-width: 700px){
    .form-board-area{
        grid-auto-flow: row;
        grid-template-columns: .1fr;
    }

}
/* .game-board > *{
    border
} */
/* Make grid box */
/* body{
    width: 100vw;
    height: 100vh;

} */